<!-- user-management.component.html -->

<mat-table [dataSource]="users" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.id }}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let user" [ngSwitch]="selectedUser === user">
      <ng-container *ngSwitchCase="true">
        <input
          matInput
          [(ngModel)]="user.name"
          (keyup.enter)="updateUser(selectedUser)"
          (blur)="updateUser(selectedUser)"
        />
      </ng-container>
      <ng-container *ngSwitchDefault>{{ user.name }}</ng-container>
    </mat-cell>
  </ng-container>

  <!-- Surname Column -->
  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
    <mat-cell *matCellDef="let user" [ngSwitch]="selectedUser === user">
      <ng-container *ngSwitchCase="true">
        <input
          matInput
          [(ngModel)]="user.surname"
          (keyup.enter)="updateUser(selectedUser)"
          (blur)="updateUser(selectedUser)"
        />
      </ng-container>
      <ng-container *ngSwitchDefault>{{ user.surname }}</ng-container>
    </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let user" [ngSwitch]="selectedUser === user">
      <ng-container *ngSwitchCase="true">
        <input
          matInput
          [(ngModel)]="user.email"
          (keyup.enter)="updateUser(selectedUser)"
          (blur)="updateUser(selectedUser)"
        />
      </ng-container>
      <ng-container *ngSwitchDefault>{{ user.email }}</ng-container>
    </mat-cell>
  </ng-container>

  <!-- Email Notification Column -->
  <ng-container matColumnDef="emailNotification">
    <mat-header-cell *matHeaderCellDef>Email Notification</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <ng-container *ngIf="selectedUser === user">
        <mat-checkbox
          [(ngModel)]="user.emailNotification"
          (change)="updateUser(user)"
        ></mat-checkbox>
      </ng-container>
      <ng-container *ngIf="selectedUser !== user">{{
        user.emailNotification ? "Yes" : "No"
      }}</ng-container>
    </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let user" [ngSwitch]="selectedUser === user">
      <ng-container *ngSwitchCase="true">
        <button mat-icon-button (click)="updateUser(selectedUser)">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button (click)="selectUser(null)">
          <mat-icon>cancel</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <button mat-icon-button (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Table Rows -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" routerLink="/user/add">Bottone</button>
</div>
